.submit_container {
    /* width: 50%; */
    margin: auto;
    padding: 100px 0;
    /* background-color: red; */
    text-align: center;
}

.submit_heading {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    color: rgba(0, 129, 201, 0.85);

}

.submit_flex_box {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    padding: 50px 0;
    /* border: 1px solid lime; */
    justify-content: space-between;
}

.input_email input {
    padding: 24px 100px;
    width: 581px;
    background: rgba(217, 217, 217, 0.47);
    border-radius: 12px;
    outline: none;
    border: none;
    text-align: center;
    color: rgb(68, 68, 68) !important;
    font-size: 18px;
}

.input_email input::placeholder {
    color: rgb(94, 94, 94);
    font-size: 18px;
}

.download {
    color: #0081C9;
}

.d_para {
    font-size: 12px;
}

.submit_btn {
    width: max-content;
    background-color: #0081C9;
    color: white;
    font-size: 12px;
    margin: auto;
    padding: 10px 40px;
    text-transform: uppercase;
}

@media (max-width:944px) {
    .submit_flex_box {
        display: flex;
        width: 60%;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        padding: 50px 0;
        /* border: 1px solid lime; */
        justify-content: center;
    }
    .download {
        margin-top: 20px;
        color: #0081C9;
    }
}
@media (max-width:620px) {
    .input_email input {
        padding: 24px 50px;
        width: max-content;
        font-size: 16px;
    }

}