.automobile_container {
    /* background-color: palevioletred; */
    width: 80%;
    margin: auto;
    /* position: relative; */
}

.auto_heading {
    /* border: 1px solid plum; */
    position: relative;
    display: flex;
    /* padding: 20px 0; */
    /* justify-content: center; */
    align-items: center;
}

.auto_number {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 187px;
    /* line-height: 68px; */
    text-align: left;
    position: relative;
    letter-spacing: 0.04em;
    color: rgba(217, 217, 217, 0.48);
}

.auto_letter {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    /* line-height: 68px; */
    position: absolute;
    padding-left: 20px;
    letter-spacing: 0.04em;
    color: #0081C9;
}

.auto_img_container {
    display: flex;
    /* border: 1px solid palevioletred; */
}

.auto_img {
    width: 50%;
    position: relative;
}

.auto_img img {
    width: 100%;
}

.auto_img_text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    /* or 189% */


    color: #000000;
    /* position: relative; */
}

.auto_pack {
    position: absolute;
    width: max-content;
    background: #0081C9;
    border-radius: 2px;
    padding: 15px 80px;
    /* width: 263px; */
    /* height: 48px; */
    text-align: center;
    /* line-height: 48px; */
    bottom: 10%;
    right: -33%;

    /* text */
    font-family: 'Urbanist';
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    /* line-height: 14px; */
    letter-spacing: 0.17em;
    color: #F5FAFF;
}


@media only screen and (max-width:990px) {
    .auto_img_container {
        display: flex;
        flex-wrap: wrap;
        /* background-color: red !important; */
    }
    .auto_pack{
        display: none;
    }
    .auto_img,
    .auto_img_text {
        width: 100%;
    }
}
