.product_container {
    background-color: #0081C9;
    /* height: 80vh; */
}

.products_tag {
    /* border: 1px solid grey; */
    font-size: 200px;
    font-weight: 400;
    word-spacing: 90px;
    /* background-color: red; */
    /* line-height: 230px; */
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'DM Serif Display';
    color: rgba(255, 255, 255, 0.24);
}

.products_tag::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.products_tag {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card_container {
    /* background-color: pink; */
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.card_down,
.card_up {
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.card_down {
    margin-top: 50px;
    height: 200px;
}

.card_text {
    color: white;
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    /* background-color: pink; */
    z-index: 33;
    /* cursor: pointer; */
}

.card_subtext {
    padding-top: 50px;
    color: white;
    margin-top: 30px;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    /* background-color: red; */
    font-family: "DM Serif Display";
    position: absolute;
}

img {
    display: block;
}

.card_icon,
.card_icon2 {
    /* background-color: #0081C9; */
    border-radius: 50%;
    padding: 10px 12px;
    bottom: 20px;
    left: 20px;
    display: none;
    position: absolute;
    /* font-size: 40px; */
    transition: 200ms;
    /* cursor: pointer; */
}

.card_icon2 {
    bottom: -200px;
}

.card_up:hover>.card_icon {
    /* filter: brightness(0.8); */
    display: block;
}

.card_down:hover>.card_icon2 {
    /* filter: brightness(0.8); */
    display: block;
}

.card_down:hover,
.card_up:hover {
    filter: brightness(0.7)
}
.para{
    font-size: 20px;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-family:  'Urbanist';
    margin: 130px auto;
    /* word-spacing: 50px; */
    /* color: blue; */
    /* border: 1px solid rgb(236, 236, 236); */
    border-radius: 10px;
    width: max-content;
    /* letter-spacing: 10px; */
    /* padding: 20px 30px; */
    text-align: center;
}
.para:hover{
    /* letter-spacing: 2px; */
    cursor: pointer;
}

@media only screen and (max-width: 1460px) {

    .card_container {
        /* background-color: pink; */
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;

    }

    .card_down,
    .card_up {
        width: 20%;
    }

    img {
        width: 250px;
    }

    .card_icon2 {
        bottom: -180px;
        padding: 10px;
        font-size: 40px;
    }

    .card_icon {
        padding: 10px;
        bottom: 0;
        font-size: 40px;
    }

}

@media only screen and (max-width: 1158px) {

    img {
        width: 200px;
    }

    .card_text {
        font-size: 12px;
    }

    .card_subtext {
        font-size: 20px;
    }

    .card_icon2 {
        bottom: -100px;
        padding: 5px;
        font-size: 30px;
    }

    .card_icon {
        padding: 5px;
        bottom: 0;
        font-size: 30px;
    }


}


@media only screen and (max-width: 987px) {

    img {
        width: 200px;
    }

    .card_text {
        font-size: 12px;
    }

    .card_subtext {
        font-size: 16px;
    }

    .card_icon2 {
        bottom: -80px;
        padding: 5px;
        font-size: 30px;
    }

    .card_icon {
        padding: 5px;
        bottom: 10px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 915px) {

    .products_tag {
        font-size: 100px;
    }

    img {
        width: 150px;
    }

    .card_text {
        font-size: 10px;
    }

    .card_subtext {
        font-size: 14px;
    }

    .card_icon2 {
        bottom: -20px;
        padding: 5px;
        font-size: 20px;
    }

    .card_icon {
        padding: 5px;
        bottom: 30px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 676px) {

    .card_container {
        /* background-color: pink; */
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .card_up ,
    .card_down{
        margin: auto;
        position: relative;
        justify-content: center;
        transition: 0.3s;
        width: 50%;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

   
    .card_down img {
        /* width: 100%; */
    }
}