.header_bg {
    position: relative;
}

.header_bg img {
    width: 100%;
}
.imageContainer {
    height: 10vh;
    background-image: url("../../images/header_heading.svg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(30%);
    z-index: -1;
  }

.header_heading {}

.header {
    width: 80%;
    background-color: red;
    position: absolute;
    top: 50%;
    bottom:50%;
    left: 10%;
    color: white;
    font-size: 40px;

    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 93px;
    line-height: 104px;
    /* identical to box height, or 112% */


    color: #FFFFFF;

    text-shadow: 0px 33px 31px rgba(0, 0, 0, 0.42);

}


/* ------------------------------> */
@media (max-width:800px){
    .header{
        font-size: 40px;
        
    }

    .sub_header{
        /* display: none; */
        font-size: 10px;
        width: 80%;
    }
}   

@media (max-width:537px){
    .header{
        font-size: 30px;
        
    }

    .sub_header{
        font-size: 7px;
        width: 80%;
        /* display: none; */
    }
}  
@media (max-width:400px){
    .header{
        font-size: 20px;
        
    }

    .sub_header{
        font-size: 7px;
        width: 80%;
        /* display: none; */
    }
}  